/*
 * Globals
 */

/*
 * Base structure
 */

 :root {
   --color-gray-800: #1f2733;
   --color-gray-900: #181b22;
   --color-primary-500: #eaff74;
   --color-primary-600: #d1e65b;
 }

 @font-face {
  font-weight: 500;
  font-family: HKGrotesk;
  src: url("./resources/fonts/HKGrotesk-Regular.woff2")
  format("woff2");
}

@font-face {
  font-weight: 800;
  font-family: HKGrotesk;
  src: url("./resources/fonts/HKGrotesk-ExtraBold.woff2")
  format("woff2");
}

body {
  background: var(--color-gray-900);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-container {
  display: none;
  width: 400px;
  padding: 40px 32px 32px;
  box-sizing: border-box;
  background-color: var(--color-gray-800);
  border-radius: 8px;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 178px;
  margin: 0 auto;
}

#join-room {
  display: none;
}

#error {
  display: none;
  margin-top: 20px;
}

.room-info {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.room-info__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-family: HKGrotesk;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: center;    
  display: inline-block;
  height: 26px;
}

.user-count {
  height: 32px;
  margin-left: 12px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  background-color: var(--color-gray-900);
  border-radius: 16px;
}

.user-count__icon {
  width: 16px;
  height: 16px;
}

.user-count__text {
  margin-left: 4px;
  color: white;
  font-family: HKGrotesk;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: center;
}

.enter-button {  
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
  height: 48px;  
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-button__text {
  font-size: 18px;
  font-weight: 800;
  font-family: HKGrotesk;
  letter-spacing: -.2px;
  color: var(--color-gray-900);
  height: 26px;
  display: inline-block;  
}

.enter-button__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;  
}

.enter-button:focus,
.enter-button:hover,
.enter-button:active {
  background-color: var(--color-primary-600);
  border-color: var(--color-primary-600);
  color: var(--color-gray-900);
  outline: none;
}

.download {
  margin-top: 20px;
}

.text{
  color: white;
  font-size: 14px;
  font-family: HKGrotesk;
  letter-spacing: -.2px;
}

.text--link {
  color: var(--color-primary-500);
}

.text--link:hover {
  color: var(--color-primary-600);
}